*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  height: 60px;
}
.logo{
 color: white;
}
.navelements{
  margin: 10px 50px 0 0;
}
.navitems{
  display: flex;
  list-style: none;
  color: white;
  gap: 25px;
}
.navitems li a{
  color: white;
}
.hero{
  background-image: url('img/pexels-rdne-7947707.jpg');
  background-size: cover;
  background-attachment: fixed;
  object-fit: contain;
  height: 80vh;
  color: white;
}
.hero-content{
  max-width: 600px;
  align-items: left;
  padding: 150px 0 50px 60px;
}
.hero-content h1{
  font-weight: 900;
}
.hero-content p{
  font-size: 25px;
}
.hero-content button{
  padding: 10px 30px;
  background-color: red;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  margin-right: 10px;
}
.carousel-inner{
  background-color: black;
  height: 80vh;
}
.carousel-item1{
  max-width: 600px;
  color: white;
  /* padding-left: 60px; */
  margin-top: 150px;
}
.carousel-item1 p{
  font-size: 18px;
}
.carousel-item1 button{
  background-color: red;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 10px;
}
.slide-flex{
  display: flex;
  justify-content: center;
  align-content: center;
  /* margin-top: 150px; */
  gap: 20px;
}
.carousel-image{
  margin-top: 10px;
  
}
.carousel-image img{
  width: 500px;
  height: 500px;
  /* padding: 0 0 60px 0; */
}
.about2{
  background-color: black;
  color: white;
  height: 100vh;
  padding: 70px 10px;
}
.about2 h1{
  text-align: center;
}
.about2 p{
  text-align: center;
  /* font-size: 20px; */
}
.card-element{
  display: grid;
  /* align-items: center;
  justify-content: center; */
  place-content: center;
  text-align: center;
  width: 400px;
}
.card-content{
  display: flex;
  justify-content: space-around;
}
.card-element button{
  background-color: red;
  color: white;
  border-radius: 10px;
  padding: 10px 0;
  font-size: 18px;
}
.about2-text{
  font-size: 20px;
}
.about3{
  min-height: 80vh;
  background-color: black;
  color: white;
  padding: 20px 0;
}
.about3 h1{
  text-align: center;
  margin-bottom: 20px;
}
.about3-text{
  text-align: center;
  font-size: 20px;
}
.content-container-box{
  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-rows: 130px 130px;
  place-content: center;
  padding-top: 30px;
  gap: 10px;
}
.container{
  border: 2px solid white;
  padding: 15px 0 30px 10px;
}
.container h3{
  font-size: 20px;
  margin-bottom: 20px;
}
.contact{
  background-color: black;
  color: white;
  height: 90vh;
  display: flex;
  justify-content: space-around;
}
.form-element button{
  background-color: red;
  color: white;
  padding: 10px 20px;
  margin-right: 20px;
  font-size: 18px;
  border-radius: 10px;
}
.footer{
  height: 50vh;
  background-color: black;
  color: white;
  display: grid;
  place-content: center;
}
.footer-elements{
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: 100px;
  place-content: center;
  gap: 40px;
}
.footer-container{
  border: 3px solid white;
  text-align: center;
  display: grid;
  place-content: center;
}